
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Postgresql</title>
    

    <script src="static/js/angular.min.js"></script>
    <script src="static/js/angular-ui-router.min.js"></script>
  <!--  <script src="static/js/angular-route.min.js"></script> -->
    <script src="static/js/angularapp.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>

</head>
<body ng-app="flaskApp">
       <h1> Flask Postgresql </h1>    

       <a ui-sref="hello">Hello</a>
       <a href="/register">Register</a>
       <a href="/blog">Blog</a>
      


       <div ng-controller="myCtrl">
        <span>{a message a}</span>
    </div>
       
    <ui-view></ui-view>
</body>
</html>